<mat-toolbar class="main-top-bar">
  <div class="tb-container">
    <div class="left-column">
      <a href="" (click)="onSidebarToggle($event)">
        <i class="icon ion-md-menu" style="vertical-align:sub;"></i>
        <div class="toggle-text">Menú</div>
      </a>
    </div>
    <div class="main-column d-flex justify-content-between align-items-center">
      <div class="d-inline-flex" style="min-width: 48px;">
        <a *ngIf="backTo" [routerLink]="backTo" style="font-size:2rem;"><i class="icon ion-ios-arrow-back"></i></a>
        <i *ngIf="isLoading" class="icon ion-ios-medical rotate c-light" ></i>
      </div>
      <div class="d-inline-flex"><div class="title">{{title}}</div></div>
      <div class="d-inline-flex profile pr-0 pr-md-2" *ngIf="api.isLogged()" style="cursor: pointer;" (click)="logout()">
        Salir
      </div>
    </div>
  </div>
</mat-toolbar>

<app-toasts style="position:fixed; bottom:0; left:0; right:0; top:auto; display:block; text-align:center;">
</app-toasts>


