@import '../../styles.scss';

.main-top-bar{
  position:fixed; top:0; right:0; left:0; z-index:10; padding:0;
  box-shadow: 0px 3px 6px #00000029;
  background-color:$primary;
  color:$light;
  .tb-container{

    width:100%; height:100%; position:relative;
    .left-column{
      display: inline-block;
      width:200px;
      line-height: 56px;
      padding-left: 3px;
      .toggle-text{ display:inline-block; }
      a{ color:$light; &.hover{ color:$light; } }
    }
    i{
      color:$light;
      font-size: 30px;
      margin:auto 12px;
    }
    .main-column{
      position: absolute;
      left:200px; top:0; right:0; bottom: 0;

      .d-inline-flex{  }
      .title{ text-align:center; }
      a{
        color:$light; text-decoration:underline; font-size:1rem;
      }
      .avatar{
        width:40px; height:40px; margin-right:.5rem; border-radius:50%;
      }
    }

  }
}
@media (max-width:599px){
  .main-top-bar
    .tb-container{
      .left-column{
        width: 56px; overflow: hidden;
        .toggle-text{ display: none; }
      }
      .main-column{
        left: 56px;
      }
      .profile{
        width:44px; overflow: hidden;
      }
    }
}
