@import '../../styles.scss';

.page-content{ padding-top:64px !important; position:relative; height:100vh; }
@media (max-width:599px){ .page-content{ padding-top:56px !important; } }
mat-sidenav-content{ height:100vh; margin-left:200px; }
.cp-page{ background-color:$tertiary; min-height:100vh; }

.page-content{
  overflow: hidden;
  .page-content-wrapper{
    position: relative; width:100%; height:100%;
    .content{
      position:absolute;
      top:1rem; bottom:1rem; left:1rem; right:1rem;
      .card.main-card{
        height: 100%;
      }
    }
  }
  // background-color: $tertiary;
  .columns-container{
    height:100%; position:relative;
    padding-bottom: 50px;
    margin-bottom: -50px;
  }
  .work-column{
    max-height:100%;
    width:400px;
    background-color: $secondarya;

    //background-color:yellow;
    .column{
      max-height: 100%;
      overflow-x: hidden; overflow-y: auto;
      border-radius:0;
      .title{
        color:$light;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .search-box-wrapper{
        &::after{
          font-family: "Ionicons";
          content: "";
          position: absolute;
          color:white;
          top:1rem;
          right: 1rem;
          font-size: 24px;
        }
        .search-box{
          background-color: $lighta;
          border:0;
          border-radius:0;
          width:100%;

          &:focus{
            border-color: $highlight;
          }
        }
      }

    }
  }
}


.card{
  cursor: -webkit-grab; cursor: grab;
  &.cdk-drag-placeholder{
    cursor: -webkit-grabbing; cursor: grabbing;
  }
  border-radius:0;
  border: 0;

  .author{
    background-color: $primarya;
    padding:.5rem;
    font-weight: bold;
  }
}





.cdk-drag-preview {
  box-sizing: border-box;
  border-radius:0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}




