<div class="cp-page">
  <app-template-header [sidenav]="sidenav" [isLoading]="isLoading" title="Panel Kanban"></app-template-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" style="width:200px; position:fixed; top:0; right:0; left:0; border:0; overflow:visible;">
      <app-navigation></app-navigation>
    </mat-sidenav>
    <section class="page-content">
      <div class="page-content-wrapper">
        <div class="content">
          <div cdkDropListGroup class="row columns-container">
            <div *ngFor="let lista of listas; let i=index" class="work-column mx-3" style="overflow-x:none;">
              <div class="column col-12 pb-3">
                <div class="title" style="display:flex; flex-flow:row; align-items:center;">
                  <mat-form-field appearance="standard" style="color:white; width:85%">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="lista.nombre">
                  </mat-form-field>
                  <div style="width:7%">
                    <i class="icon ion-md-trash" (click)="removeList(i)"></i>
                  </div>
                  <div style="width:7%; text-align: center;">
                    ({{lista.tareas.length}})
                  </div>
                </div>
                <div cdkDropList [cdkDropListData]="lista.tareas" class="example-list" (cdkDropListDropped)="drop($event)">
                  <div *ngIf="!lista.tareas.length" class="c-light m-5" style="text-align:center;">No hay tareas</div>
                  <div cdkDrag class="card mb-4" *ngFor="let tarea of lista.tareas; let r=index;">
                    <ng-container *ngTemplateOutlet="card_content;context:{tarea:tarea, listaindex:i, tareaindex:r}"></ng-container>
                  </div>
                </div>
                <div class="">
                  <textarea #textArea style="width:100%;" rows="3"></textarea>
                  <button class="btn btn-highlight" (click)="addTarea(i, textArea.value); textArea.value='';" style="width:100%;">Añadir Tarea</button>
                </div>
              </div>
            </div>
            <div class="mx-3">
              <button class="btn btn-primary" (click)="addList()">Añadir Lista</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </mat-sidenav-container>
</div>


<ng-template #card_content let-listaindex="listaindex" let-tareaindex="tareaindex" let-tarea="tarea">
  <div class="col-12 p-2">
    {{tarea.mensaje}}
  </div>
  <div class="d-flex flex-row">
    <div class="author flex-fill" style="font-size:.9rem; text-align:left; width:80%;">
      {{ tarea.autor }}
    </div>
    <div class="bc-secondary text-center" style="width:40px; color:white; font-size: 24px;">
      <i class="icon ion-md-trash" (click)="removeTarea(listaindex, tareaindex)"></i>
    </div>
  </div>
</ng-template>


<ng-template #confirmModal let-modal>
  <div class="p-3">
    <h2 class="text-center">Eliminar Lista</h2>
    <div class="col-12 text-center mb-4">La lista no está vacía, se perderán todas las tareas</div>
    <div class="col-12 ">
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary px-4 mx-2" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-danger px-4 mx-2" (click)="modal.close('ok')">Eliminar</button>
      </div>
    </div>
  </div>
</ng-template>
