<div class="cp-navbar col-12 navbar p-0">
  <nav class="desktop-menu nav flex-column" style="align-self:flex-start; margin:12px 0;">
    <ul class="nav nav-tabs border-0 d-flex flex-row">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/kanban" routerLinkActive="active">Panel Kanban</a>
      </li>
    </ul>
  </nav>
</div>
