@import '../../styles.scss';


.cp-navbar{
  margin-top:64px;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background-color:$secondary;
  box-shadow: 5px 0px 6px #00000029;
  //height: 100vh;
  .row{
    display:flex;
    flex-direction: row;
  }
  .nav-tabs{
    .nav-item{
      width:100%;
      .nav-link{
        color:$light;
        font-weight: 600;
        font-size: 16px;
        border-radius: 0 !important;
        border:none;
        &.active{
          background-color: transparent;
          border:none;
          color: $highlight;
        }
        &:hover{
          color:$highlight;
        }
        i{
          margin-right: 12px;
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 599px){
  .cp-navbar{
    margin-top: 56px;
  }
}
