/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ionicons/dist/css/ionicons.min.css";

$primary: #242582;
$primarya: adjust-color($primary, $alpha:-0.5);
$secondary: #553D67;
$secondarya: adjust-color($secondary, $alpha:-0.5);
$tertiary: #99738E;
$tertiarya: adjust-color($secondary, $alpha:-0.5);
$highlight: #F64C72;
$dark: #666666;
$darka: adjust-color($dark, $alpha:-0.5);
$light: #FAFAFA;
$lighta: adjust-color($light, $alpha:-0.5);
$grey: #707070;
$greya: adjust-color($grey, $alpha:-0.5);
$warning: #EBAF4E;
$danger: #DC6666;
$safe: #549F65;
$lightGrey:#ECEFEC;
$blue: #5661EB;
$detail: #A7D9B3;

//colors applied
.c-primary{ color:$primary; }
.c-secondary{ color:$secondary; }
.c-tertiary{ color:$tertiary; }
.c-highlight{ color:$highlight; }
.c-light{ color:$light; }
.c-grey{ color:$grey; }
.c-dark{ color:$dark; }
.c-warning{ color:$warning; }
.c-danger{ color:$danger; }
.c-safe{ color:$safe; }
.bc-primary{ background-color:$primary; }
.bc-secondary{ background-color:$secondary; }
.bc-tertiary{ background-color:$tertiary; }
.bc-highlight{ background-color:$highlight; }
.bc-light{ background-color:$light; }
.bc-grey{ background-color:$grey; }
.bc-dark{ background-color:$dark; }
.bc-warning{ background-color:$warning; }
.bc-danger{ background-color:$danger; }
.bc-safe{ background-color: $safe; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



//BUTTONS
.btn{
  padding: 0.333rem 1.333rem;
  //border:none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-weight: bold;
}
.btn-primary{
  border-radius: 0;
  background-color: $primary; border-color: $primary;
  &:focus, &:hover{
    box-shadow:none;
    //box-shadow: 0 0 0 0.2rem adjust-color($primary, $lightness:20);
    background-color: adjust-color($primary, $lightness:-10); border-color: adjust-color($primary, $lightness:-10);
  }
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active{
    box-shadow: 0 0 0 0.2rem adjust-color($primary, $lightness:20);
    background-color: adjust-color($primary, $lightness:10);
    border-color: adjust-color($primary, $lightness:10);
    &:focus{
      // box-shadow: 0 0 0 0.2rem adjust-color($primary, $lightness:20);
      // background-color: adjust-color($primary, $lightness:10);
      // border-color: adjust-color($primary, $lightness:10);
    }
  }
  &.bc-light:hover{
    background-color: $primary;
    color:$light;
  }
}
.btn-highlight{
  border-radius: 0;
  font-weight: bold;
  background-color: $highlight; border-color: $highlight;
  color:$primary;
  box-shadow: 0px 3px 4px #00000038;// rgba(0,0,0,0.38);
  &:focus, &:hover{
    box-shadow:none;
    //box-shadow: 0 0 0 0.2rem adjust-color($highlight, $lightness:20);
    background-color: adjust-color($highlight, $lightness:10);
    border-color: adjust-color($primary, $lightness:10);
  }
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active{
    box-shadow: 0 0 0 0.2rem adjust-color($highlight, $lightness:20);
    background-color: adjust-color($highlight, $lightness:10);
    border-color: adjust-color($highlight, $lightness:10);
    &:focus{
      // box-shadow: 0 0 0 0.2rem adjust-color($highlight, $lightness:20);
      // background-color: adjust-color($highlight, $lightness:10);
      // border-color: adjust-color($highlight, $lightness:10);
    }
  }
  &.bc-light:hover{
    background-color: $highlight;
    color:$light;
  }
}
