<div class="body">
  <div class="col-12" style="height:100%;">
    <div class="row" style="height:100%;">
      <div class="col-4" id="background-left">
      </div>
      <div class="main-col col-4 p-0 p-md-5 align-self-center">
        <div class="row login-header" style="text-align:center;">
          <div class="col-12 mb-5 h1">
            APLICACIÓN KANBAN
          </div>
          <div class="col-12 mb-3 h3">
            <ng-container *ngIf="page==='login'">LOGIN</ng-container>
            <ng-container *ngIf="page==='register'">REGISTRO</ng-container>
          </div>
        </div>
        <form class="row justify-content-center" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-12">
                <input class="form-control b-color-primary mb-0" type="text" formControlName="email" placeholder="Correo Electrónico">
              </div>
              <div class="col-12">
                <input class="form-control b-color-primary" type="password" formControlName="password" placeholder="Contraseña">
              </div>
            </div>
            <div *ngIf="isLoading" style="display:block; text-align:center;">
                <i class="icon ion-ios-medical rotate c-light"></i>
            </div>
            <div class="row justify-content-center mt-2 mb-3">
              <button type="submit" class="btn btn-highlight" [disabled]="!loginForm.valid || isLoading>0">Aceptar</button>
            </div>
            <ng-container *ngIf="page==='login'">
              <div class="row text-center mt-3 mb-2">
                <div class="col-12" style="font-size:.75rem;">
                  <a href="" (click)="$event.preventDefault(); page='register'; loginForm.reset()">¿Aun no tienes cuenta? Regístrate aquí</a>
                </div>
              </div>
              <div class="row text-center mt-2 mb-4">
                <div class="col-12" style="font-size:.75rem;">
                  <a href="" (click)="$event.preventDefault();">¿Has olvidado tu contraseña?</a>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="page==='register'">
              <div class="row text-center mt-2 mb-4">
                <div class="col-12" style="font-size:.75rem;">
                  <a href="" (click)="$event.preventDefault(); page='login'; loginForm.reset()">Volver al login</a>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="col-4" id="background-right">
      </div>
    </div>
  </div>
</div>
