@import '../../styles.scss';

.body{
  //position: fixed;
  min-width:100%;
  height:100vh;
  min-height:550px;
  position: relative;
  background-color: $primary;
  .main-col{
    //height:100vh;
    min-height:450px;
  }
  .login-header{
    color:$light;
    text-align: center;
    img{
      display: block;
      margin:auto;
      width:80px;
    }
    .logo-title{
      display:block;
      font-size: 2rem;
    }
    .logo-subtitle{
      font-style: italic;
      font-size: 1rem;
    }
  }
  .form-control{
    margin:1rem auto;
  }
  input{ text-align:center; }

  #background-left{
    background-image: url('/assets/backgrounds/login-01.jpg');
    background-position: center;
    background-size: cover;
  }
  #background-right{
    background-image: url('/assets/backgrounds/login-02.jpg');
    background-position: center;
    background-size: cover;
  }
  a{ color:$light; }
  .link{ color:$highlight; font-weight: bold; }
}
